html,
body,
#app {
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 1366px;
}

.el-table {
    margin-top: 15px;
}

.el-pagination {
    margin-top: 15px;
}


/* 面包屑底部间距 */

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 16px;
}


/* 级联选择器高度 */

.el-cascader-menu {
    height: 300px;
}